[Unit]
Description=SEAPATH artifacts data
DefaultDependencies=no

[Mount]
What=/dev/disk/by-label/DATA
Where=/seapath

[Install]
WantedBy=multi-user.target
